@page "/contateme"
@rendermode InteractiveServer

<PageTitle>Contate-me</PageTitle>

<body>
    <div class="textos">
        <h1>Meus Contatos</h1>
        <p>Encontre abaixo os meios pelos quais é possível me contatar, será um prazer receber vossa mensagem ;)</p>


        <p style="font-weight: bold;">Formas de Contato</p>
    </div>

    <div class="container">


        <div class="container-redes"
            <!--Instagram-->
        <a href="https://www.instagram.com/p/C7uJYW5gSez/" target="_blank">
                <img src="images/contate-me/instagram.png" alt="Logo com link para o Instagram" />
            </a>
            <!--Facebook-->
        <a href="https://www.facebook.com/profile.php?id=61556292011647" target="_blank">
                <img src="images/contate-me/facebook.png" alt="Logo com link para o Facebook" />
            </a>
            <!--Linkedin-->
            <a href="https://www.linkedin.com/in/bruno-carvalho-0014b9273/" target="_blank">
                <img src="images/contate-me/linkedin.png" alt="Logo com link para o Linkedin" />
            </a>
            <!--Github-->
            <a href="https://github.com/Bruno-Ca" target="_blank">
            <img src="images/contate-me/github.png" alt="Logo com link para o GitHub"/>
            </a>
        </div>

        <div class="numero-email">
            <div class="numero">

                <!--Número-->
                <img src="images/contate-me/whatsapp.png" alt="Logo de um e-mail com o número abaixo" />
                <p>(81) 9 73065923</p>
            </div>

            <div class="email">
                <!--Email-->
                <img src="images/contate-me/e-mail.png" alt="Logo do Whatsapp com o email abaixo" />
                <p>brunopessoal888@gmail.com</p>

            </div>
        </div>

    </div>
</body>
<div></div>

@code {

}