body {
    background: linear-gradient(to right, purple, blue);
}

.textos {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background:white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 5%;
}



.numero-email {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;

}

.email, .numero {
    flex-direction: column;
}

.container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
}

img{
    padding:30px;
}