@page "/contateme"
@rendermode InteractiveServer

<PageTitle>Contate-me</PageTitle>

<h1>Meus Contatos</h1>


<div class="redes-sociais">

    <!--Instagram-->
    <a href="https://github.com/Bruno-Ca" target="_blank">
        <img src="images/contate-me/instagram.png" alt="Logo com link para o Instagram" />
    </a>
    <!--Facebook-->
    <a href="https://github.com/Bruno-Ca" target="_blank">
        <img src="images/contate-me/facebook.png" alt="Logo com link para o Facebook" />
    </a>
    <!--Linkedin-->
    <a href="https://github.com/Bruno-Ca" target="_blank">
        <img src="images/contate-me/linkedin.png" alt="Logo com link para o Linkedin" />
    </a>
    <!--Github-->
    <a href="https://github.com/Bruno-Ca" target="_blank">
    <img src="images/contate-me/github.png" alt="Logo com link para o GitHub"/>
    </a>

</div>

<div class="numero-email">

    <!--Número-->
    <!--Email-->

</div>


@code {

}