@page "/"
@rendermode InteractiveServer


<PageTitle>Início</PageTitle>

<div class="container">

    <h1>Seja bem-vindo(a) ao meu site!</h1>
    <p>Navegue nas opções ao lado e conheça um pouco da minha história e do meu trabalho.</p>

</div>



@code {

}
