@page "/portfolio"
@rendermode InteractiveServer

<PageTitle>Meu Portfólio</PageTitle>

<body>
    <h1>
    Meu Porfólio
    </h1>

    <p>Abaixo tu vais poder ver e navegar um pouco sobre o meu trabalho até aqui.</p>

    <div class="container">
      
        <div class="trabalho">
        </div>


    </div>

</body>
<p></p>

@code{
    
}


