@page "/sobreMim"
@rendermode InteractiveServer


<PageTitle>Sobre Mim</PageTitle>

<body>
    <h1>
        De Onde Venho
    </h1>

    <p>
        Sou natural de Tímbaúba, cidade localizada na Zona da Mata Norte do estado de Pernambuco, e foi lá onde nasci e me criei. Trago comigo a força de querer vencer nessa vida e poder ser alguém importante para outras pessoas usando a tecnologia como meio de transformação para um futuro melhor.
    </p>

    <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3579.5832671550197!2d-35.32130902545024!3d-7.512817374122062!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ac78a377ad2fed%3A0xfa820f0c62526f56!2sPra%C3%A7a%20J%C3%A1der%20de%20Andrade%20-%20Centro%2C%20Timba%C3%BAba%20-%20PE%2C%2055870-000!5e1!3m2!1spt-BR!2sbr!4v1720190681318!5m2!1spt-BR!2sbr" width="500" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>


    <p>
        Fui criado por duas grandes mulheres, minha querida avó Lia e minha amada mãe Janete.
    </p>
</body>
<div></div>

@code {

}
