body[b-r6jnb8qrv9] {
    background: linear-gradient(to right, purple, blue);
}

.textos[b-r6jnb8qrv9] {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background:white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 5%;
}



.numero-email[b-r6jnb8qrv9] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;

}

.email[b-r6jnb8qrv9], .numero[b-r6jnb8qrv9] {
    flex-direction: column;
}

.container[b-r6jnb8qrv9] {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
}

img[b-r6jnb8qrv9]{
    padding:30px;
}