/* _content/BlazorApp/Components/Layout/MainLayout.razor.rz.scp.css */
body[b-qgsvw684bo] {
    background: linear-gradient(to right, purple, blue);
    opacity: 0.7;
}

.page[b-qgsvw684bo] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-qgsvw684bo] {
    flex: 1;
}

.sidebar[b-qgsvw684bo] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-qgsvw684bo] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-qgsvw684bo]  a, .top-row[b-qgsvw684bo]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-qgsvw684bo]  a:hover, .top-row[b-qgsvw684bo]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-qgsvw684bo]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row[b-qgsvw684bo] {
        justify-content: space-between;
    }

    .top-row[b-qgsvw684bo]  a, .top-row[b-qgsvw684bo]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-qgsvw684bo] {
        flex-direction: row;
    }

    .sidebar[b-qgsvw684bo] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-qgsvw684bo] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth[b-qgsvw684bo]  a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row[b-qgsvw684bo], article[b-qgsvw684bo] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui[b-qgsvw684bo] {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss[b-qgsvw684bo] {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
/* _content/BlazorApp/Components/Layout/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-g8o6n169oq] {
    appearance: none;
    cursor: pointer;
    width: 3.5rem;
    height: 2.5rem;
    color: white;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") no-repeat center/1.75rem rgba(255, 255, 255, 0.1);
}

.navbar-toggler:checked[b-g8o6n169oq] {
    background-color: rgba(255, 255, 255, 0.5);
}

.top-row[b-g8o6n169oq] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-g8o6n169oq] {
    font-size: 1.1rem;
}

.bi[b-g8o6n169oq] {
    display: inline-block;
    position: relative;
    width: 1.25rem;
    height: 1.25rem;
    margin-right: 0.75rem;
    top: -1px;
    background-size: cover;
}

.nav-item[b-g8o6n169oq] {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-g8o6n169oq] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-g8o6n169oq] {
        padding-bottom: 1rem;
    }

    .nav-item[b-g8o6n169oq]  .nav-link {
        color: #d7d7d7;
        background: none;
        border: none;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
        width: 100%;
    }

.nav-item[b-g8o6n169oq]  a.active {
    background-color: rgba(255,255,255,0.37);
    color: white;
}

.nav-item[b-g8o6n169oq]  .nav-link:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

.nav-scrollable[b-g8o6n169oq] {
    display: none;
}

.navbar-toggler:checked ~ .nav-scrollable[b-g8o6n169oq] {
    display: block;
}

@media (min-width: 641px) {
    .navbar-toggler[b-g8o6n169oq] {
        display: none;
    }

    .nav-scrollable[b-g8o6n169oq] {
        /* Never collapse the sidebar for wide screens */
        display: block;

        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
/* _content/BlazorApp/Components/Pages/ContateMe.razor.rz.scp.css */
body[b-r6jnb8qrv9] {
    background: linear-gradient(to right, purple, blue);
}

.textos[b-r6jnb8qrv9] {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background:white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 5%;
}



.numero-email[b-r6jnb8qrv9] {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    text-align: center;

}

.email[b-r6jnb8qrv9], .numero[b-r6jnb8qrv9] {
    flex-direction: column;
}

.container[b-r6jnb8qrv9] {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
}

img[b-r6jnb8qrv9]{
    padding:30px;
}
/* _content/BlazorApp/Components/Pages/Inicio.razor.rz.scp.css */
h1[b-y7kdy2qawx],p[b-y7kdy2qawx] {
    color: black;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
}

.container[b-y7kdy2qawx] {
    display: flex;
    background: white;

    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 20vh;
}

body[b-y7kdy2qawx] {
    background: linear-gradient(to right, purple, blue);
    opacity: 0.7;
}
/* _content/BlazorApp/Components/Pages/Portfolio.razor.rz.scp.css */
body[b-jeryej0hkz] {
    background: linear-gradient(to right, purple, blue);
    opacity: 0.7;
}

h1[b-jeryej0hkz],p[b-jeryej0hkz]{
    flex-direction: column;
    align-items: center;
    text-align: center;
}
/* _content/BlazorApp/Components/Pages/SobreMim.razor.rz.scp.css */
body[b-5gwcj9rmlh] {
    background: linear-gradient(to right, purple, blue);
    opacity: 0.7;
}

h1[b-5gwcj9rmlh], p[b-5gwcj9rmlh] {
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    text-align: center;
    background: white;
    opacity: 0.7;
    width: 100%;
    border-radius: 100px;
    margin-bottom: 5%;
}

.mapa[b-5gwcj9rmlh] {
    align-items: center;
    display: flex;
}
